<div id="content">
  <header>
    <div class="perfil">
      <div style="text-align: center">
        <hgroup>
          <h1>Rafael Scalet</h1>
          <h2>Arquiteto de Dados (data archtiect)</h2>
        </hgroup>
        <address>
          <p><i class="bx bxs-map"></i> Salto/SP, BR</p>
        </address>
      </div>
    </div>
  </header>

  <main>
    <div class="header">
      <section>
        <article class="sobreMim">
          <header>
            <h2>Sobre mim</h2>
            <div class="linha"></div>
          </header>
          <p>
            Sou um estudante da Fatec que no momento cursa ánalise e desenvolvimento de sistemas (ADS) e sonha em se tornar um arquiteto de dados
            <span>
              Já trabalhei com Python, C#, C++ e outras linguagens C, além de ter uma grande experiência com banco de dados
            </span>
          </p>
        </article>
        <section>
          <article class="sup">
            <div class="contato">
              <header>
                <h2>Contato</h2>
                <div class="linha"></div>
              </header>
              <nav>
                <ul>
                  <li>
                    <a href="https://www.linkedin.com/in/scalety/">
                      <i class="bx bxl-linkedin-square"></i> LinkedIn
                    </a>
                  </li>
                  <li>
                    <a href="https://github.com/rafaScalet">
                      <i class="bx bxl-github"></i> GitHub
                    </a>
                  </li>
                  <li>
                    <a href="tel:+5511971008845">
                      <i class="bx bxs-phone"></i> (11)97100-8845
                    </a>
                  </li>
                  <li>
                    <a href="mailto:rafaelscalet2018@gmail.com">
                      <i class="bx bxs-envelope"></i> meu email
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="tecnologias">
              <header>
                <h2>Tecnologias</h2>
                <div class="linha"></div>
              </header>
              <ul>
                <li>• Git</li>
                <li>• GitHub</li>
                <li>• C++</li>
                <li>• Arduino</li>
                <li>• C#</li>
                <li>• SQL</li>
                <li>• Python</li>
                <li>• Lynux</li>
              </ul>
            </div>
          </article>
        </section>
      </section>

      <section>
        <article class="escolaridades">
          <h2>Escolaridades</h2>
          <div class="linha"></div>
          <div>
            <h4>• Ensino fundamental II - E.E. Prof Paula Santos</h4>
            <p>
              - uma das melhores escolas do ensino fundamental de salto, por ser período integral, me preparou para diversos desafios que vim a enfrentar.
            </p>
          </div>

          <div>
            <h4>• Ensino médio/técnico - ETEC Martinho Di Ciero</h4>
            <p>
              - Na ETEC, foi onde me aprofundei na area de tecnologia, meu primeiro contato com esta area foi bem antes, porém foi aqui onde me aperfeiçoei.
            </p>
          </div>
          <div>
            <h4>• Faculdade - FATEC Dom Amaury Castanho</h4>
            <p>
              Entrei na faculdade sem precisar prestar vestibular por conta do projeto AMS, um projeto que atesta minhas habilidades na area, por isso me deu tal possibilidade.
            </p>
          </div>
        </article>
      </section>


    </div>

    <section>
      <article class="cursos">
        <header>
          <h2>Cursos e Qualificações complementares</h2>
          <div class="linha"></div>
        </header>
        <div class="cursos">
          <h3>Trabalhando com Banco de Dados utilizando JDBC e JPA</h3>
          <time> out 2023 - concluído</time>
          <br>
          <h3>Projetos ágeis com SCRUM</h3>
          <time> set 2022 - concluído</time>
          <br>
          <h3>Introdução ao ReactJS</h3>
          <time> jul 2022 - concluído</time>
        </div>
      </article>
    </section>

    <section>
      <article class="adicional">
        <div class="habilidade">
          <header>
            <h2>Habilidades</h2>
            <div class="linha-A"></div>
          </header>
          <ul>
            <ul>
              <li>• Comunicativo</li>
              <li>• Criativo</li>
              <li>• Analítico</li>
              <li>• Disposto a Ensinar</li>
              <li>• Pensamento rápido</li>
              <li>• Resolver problemas</li>
            </ul>
          </ul>
        </div>

        <div class="english">
          <header>
            <h2>Idiomas</h2>
            <div class="linha-A"></div>
          </header>

          <article class="languages">
            <div>
              <h3>Inglês</h3>
              <p>• Pré-avançado</p>
            </div>
            <div>
              <h3>Português</h3>
              <p>• Fluente</p>
            </div>
            <div>
              <h3>Espanhol</h3>
              <p>• Pré-avançado</p>
            </div>
          </article>
        </div>


      </article>
    </section>
    <footer>

    </footer>
  </main>
</div>
