* {
  font-family: var(--f-poppins);
  font-style: normal;
  color: var(--clr-darksecondary);
}

#content {
  max-width: 968px;
  width: calc(100% - 3rem);
  background-color: var(--clr-lighttertiary);
  margin: 5rem auto;
  box-shadow: 1.3px 2.6px 2.6px hsl(0deg 0% 0% / 0.46);
  border-radius: 1.2rem;
  padding: 3rem;
}

#container {
  margin: auto;
  background-color: #88888811;
}

/* linhas */
.linha {
  border-top: 1px solid #20252a67;
  margin: 10px 0;
  /* width: 50%; */
}

.linha-A {
  border-top: 1px solid #20252a67;
  width: 90%;
  margin: 10px 0;
}

/* links*/
a {
  color: var(--clr-greendark);
  font-size: 1rem;
  text-decoration: none;
}

/* times */
time {
  font: var(--fw-semibold) 1rem/20px var(--f-poppins);
  margin-left: 2rem;
  color: var(--clr-greendark);
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.sup{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

/*perfil */
.perfil {
  font: var(--fw-semibold) 2.5rem/40px var(--f-poppins);
}

h1 {
  text-transform: uppercase;
}

.perfil h2 {
  font: var(--fw-regular) 1.5rem/30px var(--f-poppins);
  color: var(--clr-greendark);
}

.perfil address {
  font: var(--fw-medium) 1rem/30px var(--f-poppins);
  gap: 1rem;
}

/* sobreMim */

.sobreMim {
  margin: 3rem 0;
}

.sobreMim h2 {
  font: var(--fw-regular) 1.5rem/25px var(--f-poppins);
  text-transform: uppercase;
}

.sobreMim p {
  font: var(--fw-medium) 1rem/20px var(--f-poppins);
}

.sobreMim span {
  font-weight: var(--fw-bold);
}

/* contato */

.contato {
  margin: 3rem 0;
}

.contato h2 {
  font: var(--fw-regular) 1.5rem/25px var(--f-poppins);
  text-transform: uppercase;
}

.contato ul a {
  font: var(--fw-medium) 1.2rem/20px var(--f-poppins);
}

.contato ul li {
  margin-bottom: 1rem;
}

.contato span {
  font-weight: var(--fw-bold);
}

/* escolaridades*/

.escolaridades {
  margin: 3rem 0;
}

.escolaridades h2 {
  font: var(--fw-regular) 1.5rem/25px var(--f-poppins);
  text-transform: uppercase;
}

.escolaridades h3 {
  font: var(--fw-medium) 1.5rem/20px var(--f-poppins);
  margin-bottom: 0.8rem;
  color: var(--clr-greendark);
}

.escolaridades h4 {
  font: var(--fw-medium) 1.2rem/25px var(--f-poppins);
  margin-bottom: 0rem;
  color: var(--clr-greendark);
}

.escolaridades p {
  font: var(--fw-regular) 1.25rem/20px var(--f-poppins);
  margin-bottom: 0.8rem;
}

.escolaridades time {
  margin-left: 0;
}

/* cursos */

.cursos {
  margin-bottom: 3rem;
  display: grid;
}

.cursos h2 {
  font: var(--fw-regular) 1.5rem/25px var(--f-poppins);
  text-transform: uppercase;
}

.cursos h3 {
  font: var(--fw-medium) 1rem/20px var(--f-poppins);
}

.cursos div {
  margin-bottom: 1rem;
}

/* adicional */

.adicional {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 3rem;
}

.adicional h2 {
  font: var(--fw-regular) 1.5rem/25px var(--f-poppins);
  text-transform: uppercase;
}

.adicional h3 {
  font: var(--fw-bold) 1rem/20px var(--f-poppins);
  text-transform: uppercase;
  letter-spacing: 3px;
}

.adicional div {
  margin-bottom: 1rem;
}

.adicional time {
  font: var(--fw-medium) 1rem/20px var(--f-poppins);
  margin-left: 2rem;
  color: var(--clr-greendark);
}

/* habilidade */
.habilidade ul {
  font: var(--fw-medium) 0.95rem/20px var(--f-poppins);
}

/* tecnologias */
.tecnologias ul {
  display: grid;
  grid-template-rows: repeat(4, 39px);
  grid-template-columns: repeat(2, 33%);
}

.tecnologias {
  margin: 3rem 0;
}

.tecnologias h2 {
  font: var(--fw-regular) 1.5rem/25px var(--f-poppins);
  text-transform: uppercase;
}

.tecnologias ul a {
  font: var(--fw-medium) 1.2rem/20px var(--f-poppins);
}

.tecnologias ul li {
  margin-bottom: 1rem;
}

.tecnologias span {
  font-weight: var(--fw-bold);
}

/* footer contato */
footer ul {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

footer nav p {
  color: var(--clr-greendark);
}

@media screen and (max-width: 768px) {
  #content {
    padding: 2rem;
  }

  .linha-A {
    width: 100%;
  }

  .adicional {
    display: block;
  }

  .habilidade ul,
  .tecnologias ul {
    grid-template-rows: none;
    gap: 1rem;
  }

  .habilidade,
  .tecnologias,
  .idiomas {
    margin-top: 3rem;
  }
}

/* Estilos para telas pequenas */
@media screen and (max-width: 480px) {
  #content {
    margin: 3rem auto;
  }

  .perfil address {
    display: block;
  }

  .habilidade ul,
  .tecnologias ul {
    grid-template-rows: none;
  }

  footer ul {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
}
